<div id="information">
    <div id="writtenInJavaScript">
        This website is written in JavaScript. Every time you visit it you become more homosexual.
    </div>
    
    <div id="developer">
        Made by thecrowstudios uwu
    </div>
</div>