<div id="title">
    <a href="/"><h1>Public file cum dump</h1></a>
    <% if (postOpen) { %>
        <img src="/directory_open_file_mydocs-4.png" alt="">
    <% } else { %>
        <img src="/directory_closed-4.png" alt="">
    <% } %>
</div>