<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Dump about</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/directory_open_file_mydocs-4.png">
</head>
<body>
    <% postOpen = false %>
    <%- include("_title.ejs") %>
    <h2>About</h2>
    <p>This website was made as just a fun project. I have made this to be free of bloat and stand out from modern websites that are just filled with bullshit, ads and trackers. You feel me?</p>
    <p>This contains no client side javascript and consists of pure HTML and CSS for the front end. Certified 90s style. And older browsers can access it too so have fun using it on old PCs or consoles.</p>
    <p>Inspired by Luke Smith uwu</p>
    <p>Fuck the modern web.</p>

    <h2>FAQ you</h2>
    <b>Open source?</b>
    <p>Will eventually upload the source code so everyone can make fun of my programming.</p>
    
    <b>What are the upload limits?</b>
    <p>As of right now, 4GB per file. Until someone decides to do something goofy with my hard drive by spamming. We'll see. I will however try to keep the limits high in case people want to upload big files for genuine reasons, anyways I don't know what kind of content will be on here.</p>

    <b>Are uploaded files compressed?</b>
    <p>No, uploaded files are not compressed unless this is done by the person uploading it. I Want any images and videos to be of best quality. If this causes issues when viewing, download the file.</p>

    <b>HTTP support and HTTPS?</b>
    <p>Working on adding HTTPS. However I will keep HTTP so older browsers can still access the website.</p>
    <p>Added HTTPS. HTTP support is still there.</p>

    <%- include("_information.ejs") %>
</body>
</html>