<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File dump</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/directory_open_file_mydocs-4.png">
</head>
<body>
    <h1>Register</h1>
    <form enctype="multipart/form-data" action="/register" method="POST" id="register" class="formCenter">
        <label for="username">Username</label>
        <input required type="text" name="username" id="username" maxlength="20" value="<%= account.username %>">

        <label for="password">Password</label>
        <input required type="password" name="password" id="password" maxlength="100" value="<%= account.password %>">

        <label for="confirmPassword">Confirm password</label>
        <input required type="password" name="confirmPassword" id="confirmPassword" maxlength="100" value="<%= account.confirmPassword %>">
        
        <div>
            <%= error %>
        </div>

        <button type="submit">Register</button>

        <a href="/login">Login</a>
    </form>
</body>
</html>