<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Dump rules</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/directory_open_file_mydocs-4.png">
</head>
<body>
    <% postOpen = false %>
    <%- include("_title.ejs") %>
    
    <h2>Rules</h2>
    <b>What to do</b>
    <p>- If uploading anything NSFW you must clarify that in the post title by adding [NSFW] to the start of the title.</p>
    <p>- Do not spam posts.</p>
    <p>- Do not create spam accounts.</p>
    <p>- Stay strapped and stay cute uwu</p>
</body>
</html>