::-webkit-scrollbar {
    width: 10px;
    background-color: #111111;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #222222;
}

body {
    background: #323232;
    color: #ffffff;
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
    margin-bottom: 200px;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 8px 0px 8px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: deepskyblue;
    text-decoration: none;
    font-size: large;
}

a:hover {
    color: beige;
    text-decoration: underline;
}

input {
    margin-bottom: 10px;
    padding: 2px;
    background-color: #424242;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #767676;
}

input[type="file"] {
    background-color: inherit;
    border-style: none;
}

button {
    background-color: #323232;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    border-color: #ffffff;
    border-style: ridge;
    border-width: 1px;
}

button:hover {
    background-color: #424242;
    cursor: pointer;
}

#posts, #postFiles {
    margin-top: 20px;
}

.post {
    margin-bottom: 10px;
}

.postFileName {
    color: #cccccc;
}

.fileSize {
    color: #cccccc;
}

.textGrayed {
    color: #cccccc;
}

.postActions {
    font-size: small;
}

.deletePost {
    padding: 0px;
    border: none;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title > a {
    color: white;
    margin: 0px 10px 0px 58px;
}

#title > a:hover {
    text-decoration: none;
}

#information {
    margin-top: 20px;
    margin-bottom: 8px;
    position: sticky;
    top: 90vh;
    text-align: center;
}

#writtenInJavaScript {
    color: #cccccc;
}

#developer {
    margin-top: 20px;
}

#donate {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#crypto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 480px;
    max-width: 100%;
    overflow-wrap: break-word;
    font-size: small;
}

.formCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sortForm {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    margin-top: 20px;
}

#sortForm > div {
    display: flex;
    flex-direction: row;
}

#sortForm > div > select {
    margin-right: 5px;
}

.linkButton {
    background-color: inherit;
    border: none;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: deepskyblue;
    text-decoration: none;
    font-size: large;
}

.linkButton:hover {
    background-color: inherit;
    color: beige;
    text-decoration: underline;
}

select {
    background-color: #323232;
    color: #ffffff;
}

#account {
    float: right;
}

pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

textarea {
    padding: 2px;
    background-color: #424242;
    color: #ffffff;
    border-width: 1px;
    border-color: #767676;
}

#comments {
    margin-top: 80px;
    max-width: 100%;
}

#createComment > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#createComment > form > textarea {
    width: 100%;
    margin-bottom: 10px;
}

#createComment > form > button {
    align-self: flex-end;
}

#postComments {
    margin-top: 20px;
}

.comment {
    margin-top: 8px;
}

.comment > a {
    font-size: medium;
}

.comment > pre {
    font-family: inherit;
    margin-top: 2px;
    margin-bottom: 2px;
}

#notificationsMenu {
    position: absolute;
    background-color: #424242;
    visibility: hidden;
    padding: 8px 2px 8px 2px;
}

#notifications:hover > #notificationsMenu {
    visibility: visible;
}

#notifications > .notification {
    background-color: #424242;
    margin-bottom: 8px;
    padding: 20px 10px 20px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #767676;
}